<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/classroom-lights.css" />
        <script src="javascripts/classroom-lights.js" defer></script>
        <title>Classroom Lights</title>
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="/images/IST_Logo.png" alt="IST Logo" id="logo" />
                <h1 class="title">Smart Engagement Room</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Statistics</a></li>
                    <li><a href="/classroom-lights" class="active">Classroom Layout</a></li>
                    <li><a href="/admin">Admin</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="lights-container">
                <div class="light" id="1"></div>
                <div class="light" id="2"></div>
                <div class="light" id="3"></div>
                <div class="light" id="4"></div>
                <div class="light" id="5"></div>
                <div class="light" id="6"></div>
            </div>
        </main>
        <footer>
            <p>&copy; 2024 IST AMI DRS. All rights reserved.</p>
        </footer>
    </body>
</html>
