@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    --primary-color: #07b0ff;
    --secondary-color: #dedcff;
    --text-color: #050315;
    --background-color: #fbfbfe;
    --header-color: #ffffff;
    --max-students-color: #07b0ff;
    --average-students-color: #00b894;
    --present-students-color: #ff7675;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background-color);
}

header {
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

div.logo {
    background-color: var(--header-color);
    color: var(--text-color);
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: left;
}

#logo {
    width: 40px;
    height: auto;
    margin-right: 1rem;
}

header .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

nav {
    background-color: var(--header-color);
    padding: 0.5rem;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: left;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li a {
    height: 100px;
    color: #000;
    text-decoration: none;
    padding: 0.8rem 0.5rem;
    color: #646464;
}

nav ul li a.active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

nav ul li a:hover {
    color: var(--text-color);
    border-bottom: 2px solid var(--text-color);
}
main {
    margin: 2rem auto;
    width: 80%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--header-color);
    font-weight: bold;
    font-size: 2rem;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
    transform: translateY(-10px);
}

footer {
    background-color: var(--primary-color);
    color: var(--header-color);
    font-weight: bold;
    text-align: center;
    padding: 1rem;
}
